{% extends 'main.html' %}
{% load static %}
{% block content %}
<main style="background-color: bisque;">
    <section class="contacts-section">
        <div class="container">
            <h2>Contact the Developers</h2>
            <div class="contact-grid">
                <div class="contact-card">
                    <h3>Impress Bashyal</h3>
                    <p>Email: <a href="mailto:impressbashyal@gmail.com">impressbashyal@gmail.com</a></p>
                    <p>Github: <a href="https://github.com/hastiesloth">Impress</a></p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
